.add_city_form{
  background: white;
  border: 0.3px solid #ededed;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  height: 110px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3);
}