.add_city_form{
  background: white;
  border: 0.3px solid #ededed;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  height: 110px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3);

  @media (max-width: 575.98px) {
    display: none;
  }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    display: none;
 }
}

.plus_icon{
  display:inline-block;
  position: fixed;
  top: 90%;
  left: 75%;
  width:50px;
  height:50px;
  background:
    linear-gradient(#fff,#fff),
    linear-gradient(#fff,#fff),#DA4453;
  background-position:center;
  background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
  border-radius:50%;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3);

  @media (min-width: 767.98px) {
    display: none;
 }

  // Medium devices (tablets, more than 992px)
@media (min-width: 991.98px) {
  display: none;
}

// Large devices (desktops, more than 1200px)
@media (min-width: 1199.98px) {
  display: none;
}
}