.forecast_card{
  margin-top: 20px;
  width: 100%;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: #545454;
  border: 0.3px solid #ededed;
  border-radius: 15px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3);

  .card_temp{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: white;
    padding: 8px;
    width: 120px;
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}